<section class="paymentSol py-4">
  <div class="container-lg">
    <div class="row" appAnimation="slideUp">
      <div
        class="mt-4 mt-lg-0 col-lg-6 col-12 d-flex flex-column justify-content-center"
      >
        <h1 class="fw-bold mb-3">Payment Solutions for everyone.</h1>
        <p>
          Businesses have access to the StableINR payment option, which helps to
          reduce the 2-3% transaction fees charged by banks through
          intermediaries. This is made possible through the use of blockchain
          technology, allowing for minimal transaction costs and the ability to
          accept payments globally.
        </p>
      </div>
      <div class="col-lg-6 col-12 order-first order-lg-0">
        <img src="./assets/_images/whyUs.webp" alt="whyUs" />
      </div>
    </div>
  </div>
</section>
