@use "_variables";

.transactionList {
  table {
    thead {
      background-color: variables.$privatePagesBgColor;
      tr {
        th {
          font-weight: normal;
          padding-top: 0.9rem;
          padding-bottom: 0.9rem;
          border-color: rgba($color: variables.$blackColor, $alpha: 0.06);
          font-size: variables.$fontSize14;
          @media screen and (min-width: variables.$smScreenSizeStart) {
            padding-left: 1.5rem;
            padding-right: 1.5rem;
            font-size: variables.$fontSize16;
          }
        }
      }
    }
    tbody {
      tr {
        &:hover {
          background-color: variables.$privatePagesBgColor;
        }
        td {
          font-size: variables.$fontSize14;
          @media screen and (min-width: variables.$smScreenSizeStart) {
            padding: 0.9rem 1.5rem;
            font-size: variables.$fontSize16;
          }
        }
      }
    }
  }
  ngb-pagination {
    &::ng-deep ul {
      margin-bottom: 0;
      .page-item {
        margin-left: 0.3rem;
        margin-right: 0.3rem;
        &:first-child a,
        &:nth-child(2) a,
        &:nth-last-child(2) a,
        &:last-child a {
          background-color: transparent;
        }
        .page-link {
          box-shadow: none;
          background-color: variables.$privatePagesBgColor;
          color: variables.$borderColor;
          border: none;
          border-radius: 50%;
          text-align: center;
          padding: 0;
          width: 24px;
          height: 24px;
          line-height: 24px;
          font-size: 12px;
        }

        &.active {
          .page-link {
            color: variables.$whiteColor;
            background-color: variables.$primaryColor;
          }
        }
      }
    }
  }
}
