<section class="tdsPayment py-4">
  <div class="container-lg">
    <div class="row" appAnimation="slideUp">
      <div class="col-12 col-md-5">
        <img src="./assets/_images/tdsPayment.webp" alt="tdsImage" />
      </div>
      <div class="col-12 col-md-6">
        <h1 class="text-center text-md-start fw-bold mb-5">
          Automated TDS Payments
        </h1>
        <p class="mb-4">
          We got you covered. We take care of paying the TDS amount to the
          Indian Government.
        </p>
        <div class="text-center text-md-start">
          <button class="btn btn-primary" routerLink="/auth/login">
            LOGIN
          </button>
        </div>
      </div>
    </div>
  </div>
</section>
