<section class="services py-4">
  <div class="container-lg">
    <div class="row">
      <div class="col-xl-3 col-md-6" appAnimation="zoomOut">
        <div class="box px-4 py-5">
          <div class="pic text-center mb-3">
            <img src="./assets/_images/user.webp" alt="user" />
          </div>
          <h5 class="text-center">My Account</h5>
        </div>
      </div>
      <div class="col-xl-3 col-md-6" appAnimation="zoomOut">
        <div class="box px-4 py-5">
          <div class="pic text-center mb-3">
            <img src="./assets/_images/wallet.webp" alt="wallet" />
          </div>
          <h5 class="text-center">Payments</h5>
        </div>
      </div>
      <div class="col-xl-3 col-md-6" appAnimation="zoomOut">
        <div class="box px-4 py-5">
          <div class="pic text-center mb-3">
            <img
              src="./assets/_images/secure-shield.webp"
              alt="secure-shield"
            />
          </div>
          <h5 class="text-center">Security</h5>
        </div>
      </div>
      <div class="col-xl-3 col-md-6" appAnimation="zoomOut">
        <div class="box px-4 py-5">
          <div class="pic text-center mb-3">
            <img src="./assets/_images/debit-card.webp" alt="debit-card" />
          </div>
          <h5 class="text-center">Tax</h5>
        </div>
      </div>
    </div>
    <div class="text-center my-4">
      <button class="btn btn-primary" routerLink="/auth/login">
        GET STARTED
      </button>
    </div>
  </div>
</section>
