<section class="withdrawProcess py-4">
  <div class="container-lg">
    <div class="text-center" appAnimation="slideUp">
      <h1 class="fw-bold mb-4">Instant Withdraw Process</h1>
      <p>
        Withdraw process made easier with {{appName}}. <br />
        Now withdraw money instantly to your bank account from any crypto
        currency.
      </p>
    </div>
    <div class="row mt-5 mb-4">
      <div class="col-md-4 col-12" appAnimation="zoomOut">
        <div class="pic text-center">
          <img src="./assets/_images/connectWallet.webp" alt="connectWallet" />
        </div>
        <h1 class="mt-4 text-center fw-bold start">01</h1>
        <h3 class="my-3 text-center fw-bold">Attach wallet</h3>
        <p class="text-center">
          Attach wallet to profile with multiple options available across the
          world.
        </p>
      </div>
      <div class="col-md-4 col-12" appAnimation="zoomOut">
        <div class="pic text-center">
          <img src="./assets/_images/ethereum.webp" alt="ethereum" />
        </div>
        <h1 class="mt-4 text-center fw-bold process">02</h1>
        <h3 class="my-3 text-center fw-bold">Select coin</h3>
        <p class="text-center">Select coin and amount you want to withdraw.</p>
      </div>
      <div class="col-md-4 col-12" appAnimation="zoomOut">
        <div class="pic text-center">
          <img
            src="./assets/_images/transactionSuccess.webp"
            alt="transactionSuccess"
          />
        </div>
        <h1 class="mt-4 text-center fw-bold success">03</h1>
        <h3 class="my-3 text-center fw-bold">Withdraw money</h3>
        <p class="text-center">
          The money will be credited to the bank account. Confirm the details
          and it’s done.
        </p>
      </div>
    </div>
    <div class="text-center">
      <button class="btn btn-primary" routerLink="/auth/login">
        WITHDRAW MONEY
      </button>
    </div>
  </div>
</section>
