<section class="homeApp">
  <div class="container-lg">
    <div class="row">
      <div
        class="col-lg-7 col-12 d-flex flex-column justify-content-center text-center text-lg-start"
      >
        <div appAnimation="zoomOut">
          <h1>Buy and Sell Stable INR Instantly</h1>
          <p>
            Empower customers to convert and withdraw their funds in Indian
            Rupee using over 200 currencies with the Stable INR technology.
          </p>
          <div class="mt-5">
            <button class="btn btn-primary" routerLink="/auth/login">
              OPEN AN ACCOUNT
            </button>
          </div>
        </div>
      </div>
      <div
        class="col-lg-5 col-12 order-first order-lg-0 text-center py-5"
        appAnimation="zoomOut"
      >
        <img src="../../../assets/_images/moneyTransfer.svg" alt="mobile" />
      </div>
    </div>
  </div>
</section>
