<section class="skills py-4">
  <div class="container-lg">
    <div class="row">
      <div class="col-12 col-lg-6" appAnimation="slideLeft">
        <img src="./assets/_images/skills.webp" alt="skil" />
      </div>
      <div
        appAnimation="slideRight"
        class="col-12 col-lg-6 d-flex flex-column justify-content-center mt-4 mt-lg-0"
      >
        <h1 class="fw-bold">Easiest Way to Send and Request Money!</h1>
        <p class="my-4">Simplified Paymeny System on your Fingertips.</p>
        <div>
          <button class="me-3 btn btn-primary px-5 mt-2">SEND</button>
          <button class="btn btn-primary px-5 mt-2">REQUEST</button>
        </div>
      </div>
    </div>
  </div>
</section>
