<section class="privacy">
  <div class="container-lg">
    <h2 class="text-uppercase text-center fw-bold mb-4">Privacy & Policy</h2>
    <p>
      MOKSHAGNA TECHNOLOGIES respects and will protect the privacy of all users
      of the MOKSHAGNA TECHNOLOGIES PRIVATE LIMITED platform. In order to
      provide you with more accurate and personalized services, MOKSHAGNA
      TECHNOLOGIES PRIVATE LIMITED will use and disclose your personal
      information in accordance to this privacy policy. Except as otherwise
      stated in this privacy policy, MOKSHAGNA TECHNOLOGIES PRIVATE LIMITED will
      not disclose or provide any information to third party sources without
      prior consent from the user or as required by law. By using any part of
      the MOKSHAGNA TECHNOLOGIES PRIVATE LIMITED platform, you have agreed to
      the contents of this privacy policy.
    </p>

    <h5 class="fw-bold">APPLYING RANGE</h5>
    <p>
      When you register or activate an account on the MOKSHAGNA TECHNOLOGIES
      PRIVATE LIMITED platform, you must provide the personal information of the
      individual registering on the MOKSHAGNA TECHNOLOGIES PRIVATE LIMITED
      platform, enterprise name, and other relevant business registration
      information as required by law. When you use MOKSHAGNA TECHNOLOGIES
      PRIVATE LIMITED platform services, MOKSHAGNA TECHNOLOGIES PRIVATE LIMITED
      automatically receives and records information received from your browser
      and computer, including but not limited to your IP address, browser type,
      use of language, access date and time, software and hardware features, and
      other data. This information may be directly obtained by MOKSHAGNA
      TECHNOLOGIES PRIVATE LIMITED or through third party services.
    </p>
    <h5 class="fw-bold">USE OF INFORMATION</h5>
    <p>
      Without prior consent, MOKSHAGNA TECHNOLOGIES PRIVATE LIMITED will not
      provide, sell, lease, share or trade your personal information to any
      third party sources. If you are engaged to any services provided by third
      party companies and/or MOKSHAGNA TECHNOLOGIES PRIVATE LIMITED affiliated
      companies, they will be denied access to your information, unless required
      by law. MOKSHAGNA TECHNOLOGIES PRIVATE LIMITED does not allow the
      collection, editing, or selling of your personal information in any way.
      MOKSHAGNA TECHNOLOGIES PRIVATE LIMITED has the right to terminate the
      service of any users found engaging in the above activities mentioned.
      MOKSHAGNA TECHNOLOGIES PRIVATE LIMITED may occasionally use your personal
      information to provide you with marketing materials, including but not
      limited to products and service information. With prior consent, MOKSHAGNA
      TECHNOLOGIES PRIVATE LIMITED affiliated companies may request to send
      their products and services to you.
    </p>

    <h5 class="fw-bold">THE INFORMATION DISCLOSURE</h5>

    <p>
      Under the following circumstances, MOKSHAGNA TECHNOLOGIES PRIVATE LIMITED
      will disclose your personal information in full or in part:
    </p>
    <ul>
      <li>
        With your prior consent, MOKSHAGNA TECHNOLOGIES PRIVATE LIMITED may
        disclose your personal information to a third party.
      </li>
      <li>
        You are required to disclose your details if you are found to be in
        violation of India’s laws, regulations or MOKSHAGNA TECHNOLOGIES PRIVATE
        LIMITED service agreements or related rules.
      </li>
      <li>
        Your personal information will be disclosed to third party sources to
        provide you with products and service information as per requested.
      </li>
      <li>
        MOKSHAGNA TECHNOLOGIES PRIVATE LIMITED reserves the right to decide to
        provide any necessary information or contact information to facilitate
        the completion of a transaction or dispute resolution during a
        transaction created on the MOKSHAGNA TECHNOLOGIES PRIVATE LIMITED
        platform.
      </li>
    </ul>

    <h5 class="fw-bold">THE STORAGE AND EXCHANGE OF INFORMATION</h5>
    <p>
      Any information collected by MOKSHAGNA TECHNOLOGIES PRIVATE LIMITED or
      MOKSHAGNA TECHNOLOGIES PRIVATE LIMITED affiliated companies will be stored
      on its servers. These data may be transmitted without respect to
      jurisdiction to any servers operated by MOKSHAGNA TECHNOLOGIES PRIVATE
      LIMITED.
    </p>

    <h5 class="fw-bold">THE USE OF COOKIES</h5>

    <p>
      MOKSHAGNA TECHNOLOGIES PRIVATE LIMITED platform uses cookies to provide
      you with a more personalized service, including promotional services. You
      have the right to accept or reject cookies. You can choose to accept
      cookies by modifying your browser settings. In the event that you refuse
      to accept cookies, you may not be able to log in or use MOKSHAGNA
      TECHNOLOGIES PRIVATE LIMITED platform services or any functions that rely
      on cookies.
    </p>

    <h5 class="fw-bold">INFORMATION SECURITY</h5>

    <p>
      Your account has a security feature to protect your account and password
      information. MOKSHAGNA TECHNOLOGIES PRIVATE LIMITED has security measures
      in place to ensure that your information is not lost, abused, or altered.
      Despite the aforementioned security measures, please take note that there
      are no “perfect” security measures in the information network.

      <br />

      Please protect your personal information, and only provide personal
      information when absolutely necessary while using MOKSHAGNA TECHNOLOGIES
      PRIVATE LIMITED platform services for online transactions. If you suspect
      that your personal information has been compromised, especially account
      and/or password information, please contact MOKSHAGNA TECHNOLOGIES PRIVATE
      LIMITED customer service immediately.
    </p>

    <h5 class="fw-bold">SPECIAL NOTES OF MINORS</h5>
    <p>
      You do not have the right to use MOKSHAGNA TECHNOLOGIES PRIVATE LIMITED
      platform services if you are not recognized as an adult under PR India
      law.
    </p>

    <h6 class="text-decoration-underline">Updating Information</h6>
    <p>
      You will promptly notify MOKSHAGNA TECHNOLOGIES if there are any changes,
      updates or modifications to your information. Further, you may also
      review, update or modify your information and user preferences by logging
      into your Profile page on the Portal.
    </p>
    <h6 class="text-decoration-underline">Contact Us</h6>
    <p>
      Any questions or clarifications with respect to this Policy or any
      complaints, comments, concerns or feedback can be sent to MOKSHAGNA
      TECHNOLOGIES at:
      <a href="mailto:admin@mokshagnatechnologies.com" rel="noopener noreferrer"
        >admin@mokshagnatechnologies.com</a
      >
    </p>
  </div>
</section>
