<section class="reasonChoose">
  <div class="container-lg">
    <div appAnimation="slideUp" class="text-center">
      <h1 class="fw-bold mb-4">Why should you choose {{appName}}?</h1>
      <p class="mb-5">
        Here’s Top 4 reasons why using a {{appName}} account for manage your
        digital currency.
      </p>
    </div>
    <div class="row" appAnimation="zoomOut">
      <div class="col-xl-3 col-md-6">
        <div class="box px-4 py-5">
          <div class="pic text-center mb-3">
            <img src="./assets/_images/touch.webp" alt="touch" />
          </div>
          <h5 class="text-center">Easy to use</h5>
          <p class="text-center">
            {{appName}} offers a user-friendly platform and processes for seamless
            cross-border trading of digital assets.
          </p>
        </div>
      </div>
      <div class="col-xl-3 col-md-6">
        <div class="box px-4 py-5">
          <div class="pic text-center mb-3">
            <img src="./assets/_images/smPhone.webp" alt="smPhone" />
          </div>
          <h5 class="text-center">Faster Payments</h5>
          <p class="text-center">
            Enjoy fast and efficient transactions with StableINR, as the funds
            are promptly transferred to your bank account in just a matter of
            minutes.
          </p>
        </div>
      </div>
      <div class="col-xl-3 col-md-6">
        <div class="box px-4 py-5">
          <div class="pic text-center mb-3">
            <img src="./assets/_images/group.webp" alt="group" />
          </div>
          <h5 class="text-center">Lower Fees</h5>
          <p class="text-center">We Promise Low Fees and No Extra Charges.</p>
        </div>
      </div>
      <div class="col-xl-3 col-md-6">
        <div class="box px-4 py-5">
          <div class="pic text-center mb-3">
            <img src="./assets/_images/secure.webp" alt="secure" />
          </div>
          <h5 class="text-center">Secure Cloud Infrastructure</h5>
          <p class="text-center">
            We follow AWS best practices to keep our infrastructure secure.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
