<section class="refundPolicy">
  <div class="container-lg">
    <h2 class="text-uppercase text-center fw-bold mb-4">
      Refund-Cancellation Policy
    </h2>
    <p>
      The Company (“Mokshagna Technologies” i.e. “Mokshagna Technologies Pvt.
      Ltd.”,), under no circumstance, entertains the refund or cancellation of a
      successfully fulfilled order. Once a user has placed a buy order, which
      has been fully or partially matched, the amount in the chosen currency is
      immediately transferred to the sellers’ ac- count and these transactions
      cannot be reversed. However, once a user deposits money into his Mokshagna
      Technologies account, he/she always has the option to with- draw this
      money in full or in part in accordance with the withdrawal limits.
    </p>

    <p>
      Mokshagna Technologies shall be entitled to retain/deduct the amounts due
      to actions from the user and transfer or refund the balance lying in the
      User Account, except when it is unable to do so in compliance with ap-
      plicable laws. Purchase of any cryptocurrency can be done in currencies
      stated on our platform and the respective amount shall be deducted from
      the user’s wallet. Sell of any crypto assets can be done as per the
      currencies stated on the platform or other pairs and the respective amount
      will be credited to user’s wallet. A user will not be entitled to a refund
      or cancellation in the following circumstances: (i) the user fails to
      provide Mokshagna Technologies with any information or documents when
      requested in accordance with the terms of service of any Online Platform,
      (ii) Mokshagna Technologies suspects that the user has, or is, engaged in,
      or has in any way been involved in any fraudulent or illegal activity, any
      money laundering, any terrorist financing, or breach of any relevant laws
      in any jurisdiction.
    </p>

    <h5 class="fw-bold">UPDATING INFORMATION</h5>
    <p>
      You will promptly notify MOKSHAGNA TECHNOLOGIES if there are any changes,
      updates or modifications to your information. Further, you may also
      review, update or modify your information and user preferences by logging
      into your Profile page on the Portal.
    </p>
    <h5 class="fw-bold">CONTACT US:</h5>
    <p>
      Any questions or clarifications with respect to this Policy or any
      complaints, comments, concerns or feedback can be sent to MOKSHAGNA
      TECHNOLOGIES at:
      <br />
      <a href="mailto:admin@mokshagnatechnologies.com" rel="noopener noreferrer"
        >admin@mokshagnatechnologies.com</a
      >
    </p>
  </div>
</section>
