<section class="howsWork py-5">
  <div class="container-lg">
    <div class="row" appAnimation="slideUp">
      <div class="col-12 col-lg-6">
        <img src="../../../assets/_images/howsWork.webp" alt="howsWork" />
      </div>
      <div
        class="col-12 col-lg-6 px-lg-5 d-flex flex-column justify-content-center mt-4 mt-lg-0"
      >
        <h1 class="fw-bold">How does it work?</h1>
        <p class="my-4">
          Quidam lisque persius interesset his et, in quot quidam persequeris
          essent possim iriure. Lorem Ipsum is simply dummy text of the printing
          and typesetting industry.
        </p>
        <div>
          <ul class="list-unstyled">
            <li>Sign Up Account</li>
            <li>Request & Send Payments from worldwide</li>
            <li>Your funds will be transferred to your local bank account</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
