<section class="withdraw-amount">
    <div class="row">
        <div class="col-12 col-lg-6">
            <h4 class="fw-bold my-4">Enter Amount to Withdraw</h4>
            <div class="my-2 text-sm-start selected-coin">
                <p>Selected Coin:
                    <span>
                        <img src="./assets/_images/client-1.webp" alt="">
                        Ethereum (ETH)
                    </span>
                </p>
            </div>
            <p>
                <a href="" class="select-another-coin">Want to Select Another Coin ?</a>
            </p>
            <div class="mb-3">
                <input type="text" class="form-control" placeholder="Enter Amount" />
            </div>
            <div class="row mt-2 mt-md-1">
                <div class="col-6 col-md-5">Available Balance:</div>
                <div class="col-6 col-md-7">: 0.097 ETH</div>
            </div>
            <div class="row mt-2 mt-md-1">
                <div class="col-6 col-md-5">Transaction Fee:</div>
                <div class="col-6 col-md-7">: 0.097 ETH</div>
            </div>
            <div class="row mt-2 mt-md-1">
                <div class="col-6 col-md-5">You will get:</div>
                <div class="col-6 col-md-7">: 0.097 ETH</div>
            </div>
        </div>
        <div class="col-12 col-lg-6 mt-3 mt-lg-0">
            <h4 class="fw-bold my-4">Select Withdrawal Method</h4>
            <p class="fw-bold">Withdraw to Bank Accounts</p>
            <hr/>
            <div class="row mb-4">
                <div class="col-12 col-lg-6">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="Bank Of ABC">
                        <label class="form-check-label text-secondary" for="Bank Of ABC">
                            Bank Of ABC
                        </label>
                    </div>
                </div>
                <div class="col-12 col-lg-6 mt-3 mt-lg-0">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="BankOfABC2">
                        <label class="form-check-label text-secondary" for="BankOfABC2">
                            Bank Of ABC
                        </label>
                    </div>
                </div>
            </div>
            <a href="" class="adding-links">+ ADD NEW BANK ACCOUNT</a>
            <p class="fw-bold mt-3">Withdraw to Credit or Debit Card</p>
            <hr/>
            <a href="" class="adding-links">+ ADD NEW BANK ACCOUNT</a>
        </div>
    </div>
    <!-- <div class="text-center mt-5">
        <a href="#" class="btn btn-outline-primary mx-1">GO BACK</a>
        <a href="#" class="btn btn-outline-primary mx-1">CONTINUE</a>
    </div> -->
</section>