<section class="review py-4">
  <div class="container-lg">
    <div class="row" appAnimation="slideUp">
      <div class="col-12 col-lg-7">
        <h1 class="fw-bold lh-sm">Voice of {{appName}} Users experience</h1>
        <p class="mb-4">A payments experience people love to talk about</p>
        <div class="row">
          <div class="col-sm-9 col-12">
            <div class="card my-4 py-5 px-4">
              <div class="card-body">
                <div class="pic">
                  <img src="./assets/_images/review.svg" alt="review" />
                </div>
                <p class="card-text">
                  Overall I have very good experience with this platform. I
                  found it very safe and secure for my all transactions. And its
                  best app as compared with others. I feel very satisfied by
                  using this platform as it is easy to use and user friendly
                  with good User interface.
                </p>
                <h6 class="fw-bold">Smith Harryson</h6>
              </div>
            </div>
          </div>
        </div>

        <button class="btn btn-primary">SEE ALL REVIEWS</button>
      </div>
      <div
        class="col-12 col-lg-5 text-center mb-4 mb-lg-0 d-flex align-items-center justify-content-center order-first order-lg-0"
      >
        <img width="100%" src="./assets/_images/rating.svg" alt="rating" />
      </div>
    </div>
  </div>
</section>
