<section class="getApp py-4">
  <div class="container-lg">
    <div class="row" appAnimation="slideUp">
      <div class="col-12 col-md-6 text-center">
        <img src="./assets/_images/remit2App.webp" alt="remit2App" />
      </div>
      <div class="col-12 col-md-6">
        <h1 class="fw-bold text-center text-md-start">Get the app</h1>
        <p class="mb-4 text-center text-md-start">
          Download our app for the fastest, most convenient way to send & get
          Payment.
        </p>
        <div class="icons text-center text-md-start">
          <a
            target="_blank"
            rel="noopener noreferrer"
            href="#"
            class="me-3 mt-2 d-inline-block"
          >
            <img src="./assets/_images/appStore.webp" alt="appStore" />
          </a>
          <a
            target="_blank"
            rel="noopener noreferrer"
            href="#"
            class="me-3 mt-2 d-inline-block"
          >
            <img src="./assets/_images/googlePlay.webp" alt="googlePlay" />
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
