<section class="withdraw py-5">
  <div class="container-lg">
    <div class="row" appAnimation="slideUp">
      <div class="col-xl-7 col-lg-6 col-12 mb-4 mb-lg-0">
        <img src="./assets/_images/skills.webp" alt="skill" />
      </div>
      <div
        class="col-xl-5 col-lg-6 col-12 d-flex flex-column justify-content-center"
      >
        <h1 class="fw-bold text-center text-lg-start">
          What can you do with {{appName}}?
        </h1>
        <div class="row mt-2">
          <div class="col-12 col-lg-11">
            <div class="row text-center">
              <div class="col-6">
                <button class="btn">
                  <a href="" rel="noopener noreferrer">Withdraw</a>
                </button>
              </div>
              <div class="col-6">
                <button class="btn">
                  <a href="" rel="noopener noreferrer">Send</a>
                </button>
              </div>
              <div class="col-6">
                <button class="btn">
                  <a href="" rel="noopener noreferrer">Request</a>
                </button>
              </div>
              <div class="col-6">
                <button class="btn">
                  <a href="" rel="noopener noreferrer">Shopping</a>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
