<section class="review">
    <div class="row text-center">
        <div class="col-sm-12 col-md-10 mx-auto">
            <div class="text-center mb-4">
                <p class="my-1">Money Transfer Successful to</p>
                <h4 class="fw-bold">Nagarjuna Malempati</h4>
                <p class="text-secondary">(ICIC Bank - 5550)</p>
            </div>
            <div class="row mb-3 text-secondary">
                <div class="col-12 col-sm-6 text-sm-start">
                    Withdrawal Transaction Id
                </div>
                <div class="col-12 col-sm-6 text-sm-end">
                    61612604-c11b-42b9-aa6f-03144fa55062
                </div>
            </div>
            <div class="row mb-3 text-secondary">
                <div class="col-12 col-sm-6 text-sm-start">
                    Date: 13-12-2022
                </div>
                <div class="col-12 col-sm-6 text-sm-end">
                    Time : 02:36 PM
                </div>
            </div>
            <hr/>
            <div class="row mb-3 text-secondary">
                <div class="col-12 col-sm-6 text-sm-start mb-2 mb-sm-0">
                    Total Amount to Withdraw
                </div>
                <div class="col-12 col-sm-6 text-sm-end">
                    5000.00 INR
                </div>
            </div>
            <div class="row mb-3 text-secondary">
                <div class="col-12 col-sm-6 text-sm-start mb-2 mb-sm-0">
                    Crypto Withdrawal Quantity
                </div>
                <div class="col-12 col-sm-6 text-sm-end">
                    5000.00 SINR
                </div>
            </div>
            <div class="row mb-3 text-secondary">
                <div class="col-12 col-sm-6 text-sm-start mb-2 mb-sm-0">
                    TDS Paid to Government
                </div>
                <div class="col-12 col-sm-6 text-sm-end">
                    50.00 INR
                </div>
            </div>
            <div class="row mb-3 text-secondary">
                <div class="col-12 col-sm-6 text-sm-start mb-2 mb-sm-0">
                    Transaction Fees
                </div>
                <div class="col-12 col-sm-6 text-sm-end">
                    00.00 INR
                </div>
            </div>
            <hr/> 
            <div class="row mb-4 fw-bold">
                <div class="col-12 col-sm-6 text-sm-start">
                    Bank Credit
                </div>
                <div class="col-12 col-sm-6 text-sm-end">
                    4950.00 INR
                </div>
            </div>
            <!-- <div class="row">
                <div class="col-sm-12">
                    <div class="d-flex flex-column flex-sm-row justify-content-center align-items-center">
                    <a href="#" class="btn btn-outline-primary mx-1 mb-3 mb-sm-0">BACK TO HOME</a>
                    <a href="#" class="btn btn-outline-primary mx-1">Submit</a>
                    </div>
                </div>
            </div> -->
        </div>
    </div>
</section>