<section class="transactionSync shadow-sm bg-white rounded p-4">
  <h4 class="mb-4">Don't see your transcation ?</h4>
  <p>
    Rest assured, there is no need for concern. Our advanced system is fully
    equipped to handle your situation. To initiate a comprehensive
    resynchronization of all successfully processed transactions from the
    Blockchain, kindly click on the button below.
  </p>
  <div class="text-center">
    <button class="btn btn-primary btn-lg fs-6" (click)="syncTransaction()">
      Resync from blockchain
    </button>
  </div>
</section>
