$primaryColor: #00376f;
$accentColor: #0075ac;
$secondaryLightColor: #ffeadc;
$secondaryColor: #ff6200;
$primaryLightColor: #f8feff;
$privatePagesBgColor: #f1f5f6;
$blackColor: #000;
$whiteColor: #fff;
$greyColor: #808d9e;
$dangerColor: #dc3545;

$fontSize16: 1rem;
$fontSize14: 0.875rem;
$fontSize20: 1.25rem;
$borderColor: #c8c8c8;
$processStartColor: #ffe46e;
$processPendingColor: #ffa36a;
$processSuccessColor: #62c083;

// Responsive Screens sizes

$largeScreenSizeEnd: 1199.9px;
$mediumScreenSizeEnd: 991.9px;
$largeScreenSizeStart: 992px;
$mediumScreenSizeStart: 768px;
$smScreenSizeEnd: 767.9px;
$smScreenSizeStart: 576px;
$xsScreenSizeEnd: 575.9px;
