@use "_variables";

.getStarted {
  padding-top: calc(84.73px + 6rem);
  padding-bottom: 6rem;
  background-image: url("../../../assets/_images/help.webp");
  background-size: cover;
  background-repeat: no-repeat;
  @media only screen and (max-width: variables.$mediumScreenSizeStart) {
    img {
      width: 100%;
    }
  }
  @media only screen and (min-width: variables.$largeScreenSizeStart) and (max-width: variables.$largeScreenSizeEnd) {
    img {
      width: 100%;
    }
  }
  @media only screen and (min-width: variables.$largeScreenSizeEnd) {
    img {
      width: 500px;
      height: 380px;
    }
  }
}
